name: Check deno code

on: workflow_call

jobs:
  check-deno-code:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: denoland/setup-deno@5e01c016a857a4dbb5afe9d0f9733cd472cba985 # v1.5.1
      - run: deno task fmt:check
      - run: deno task check
      - run: deno task lint
