name: Generate README from pod

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "README.pod"

jobs:
  Run-deno-task-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: vx.x.x
      - name: Check out repository code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Generate readme
        run: deno task readme
      - run: cat README.md
      - name: Create commits
        run: |
          git config user.name 'GitHub'
          git config user.email 'noreply@github.com'
          git add README.md --force
          git commit -m "docs: Generate README.md"
          git clean -fdx
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          title: ":robot: Update README.md"
          body: |
            This PR is created by [create-pull-request](https://github.com/peter-evans/create-pull-request).
            The `README.md` is generated automaticaly.
          author: "GitHub <noreply@github.com>"
          delete-branch: true
