name: Checks for push

on:
  pull_request:
    branches:
      - main

jobs:
  path-filter:
    timeout-minutes: 30
    outputs:
      actions: ${{steps.changes.outputs.actions}}
      ts: ${{steps.changes.outputs.ts}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - .github/workflows/*.yml
              - .github/workflows/*.yaml
              - aqua.yaml
            ts:
              - .github/workflows/push.yml
              - .github/workflows/_check-deno.yml
              - ./**/*.ts
              - deno.jsonc
  check-actions:
    needs: path-filter
    if: needs.path-filter.outputs.actions == 'true'
    uses: ./.github/workflows/_check-actions.yml
    permissions:
      contents: read
  check-deno:
    needs: path-filter
    if: needs.path-filter.outputs.ts == 'true'
    uses: ./.github/workflows/_check-deno.yml
    permissions:
      contents: read
